node_modules/
client/node_modules/
server/node_modules/

dist/
client/dist/
dist-ssr/

.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json
*.log
*.local

server/db/*.db-shm
server/db/*.db-wal

backups/
*.zip
